
header {
  background-color: rgb(21, 39, 55);
}


.btn {
  display: inline;
  padding: .100rem .50rem;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 0px;
}

.list-group {
  padding: 5px;
  margin: 25px;
}

#TextoBotonera, #pie {
  font-family: sans-serif;
  color: rgb(255, 191, 177);
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
}
/* img {
  margin-bottom: 15px !important;
} */

#logo_esquina {
  float: none;
}

#mainNav, #footer {
  background-color: rgb(21, 39, 55);
}

.cerrarSesion {
  margin-left: 10px;
}

#pie {
  background-color: rgb(21, 39, 55);
  margin: 0px;
  padding: 25px;
  text-align: center;
}

#navbar_title, #icon_navbar {
  color: rgb(255, 195, 195);
}

.alineacion {
  align-content: center;
}

#logoSB {
  text-align: center;
  background-color: inherit;
}

.btn {
  background-color: rgb(255, 191, 177);
  color: rgb(21, 39, 55);
  font-family: sans-serif;
}

.boton:hover {
  background-color:  rgb(21, 39, 55);
  color: rgb(255, 191, 177);
}

#icon_navbar {
  background-color: rgb(255, 191, 177);
}

i {
  color: rgb(21, 39, 55);
}
