<ul class="list-group list-group-flush">
  {{#each texto}}
    <li class="list-group-item">
      <div id="container-comentarios" class="comentario">
        <p>{{comentario}}</p>
        <p>{{valoracion}}</p>
        <button type="button" name="button" class="borrar" data-identificador="{{id_comentario}}">Borrar coemntario</button>
      </div>
    </li>
  {{/each}}
</ul>
