<ul class="list-group list-group-flush">
  {{#each comentario}}
    <li class="list-group-item">
      <div id="container-comentarios" class="comentario">
        <a href="comentarios/{{id_comentario}}/">Valorar</a>
      </div>
    </li>
  {{/each}}
</ul>
